{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Distributed weather simulation engine</h1>
  <hr><br>
  <div>
    <h3>Tasks Creater  <a href="/docs" style="font-size: small;" target="_blank">try docs</a></h3>
    <p>Task Capacity</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" onclick="handleClick(1)">Small</a>
      <button type="button" class="btn btn-primary" onclick="handleClick(2)">Medium</a>
      <button type="button" class="btn btn-primary" onclick="handleClick(3)">Long</a>
    </div>
  </div>
  <br><br>
  <div>
    <h3>Tasks</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Task Celery ID</th>
          <th>Status</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
